on:
  issues:
    types:
      - opened

jobs:
  handle-new-issue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/github-script@v7
        with:
          script: |
            const script = require('.src/actions/on-issue-opened.js')
            await script({github, context, core, glob, io, exec, require})
